* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.buttonNormal {
  background: transparent;
  outline: none;
  border: 1px solid #b0b0b0;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.navbarAnimation {
  opacity: 1;
  transition: opacity ease-in-out 0.3s;
}

.invisible {
  opacity: 0;
}
.glass-effect {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1.5rem;
}
.blur-effect {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  padding: 1.5rem;
}
.boxShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.cardInnerText {
  cursor: pointer;
  opacity: 0;
}
.imageCard:hover .cardInnerText {
  opacity: 1;
  transition: opacity ease-in-out 0.3s s;
}
.blue_linear {
  background: linear-gradient(
    80.14deg,
    #8d2b9c -4.54%,
    #400662 44.8%,
    #0f0017 87.69%
  );
}
