* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.buttonNormal {
  background: transparent;
  outline: none;
  border: 1px solid #b0b0b0;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.navbarAnimation {
  opacity: 1;
  transition: opacity ease-in-out 0.3s;
}

.invisible {
  opacity: 0;
}
.glass-effect {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1.5rem;
}
.blur-effect {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  padding: 1.5rem;
}
.blur-effect1 {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  padding: 1.5rem;
}
.boxShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.cardInnerText {
  cursor: pointer;
  opacity: 0;
}
.imageCard:hover .cardInnerText {
  opacity: 1;
  transition: opacity ease-in-out 0.3s s;
}
.blue_linear {
  background: linear-gradient(
    80.14deg,
    #8d2b9c -4.54%,
    #400662 44.8%,
    #0f0017 87.69%
  );
}
.flex_start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
/* .liner_grident_border {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(
    98.57deg,
    #894a9b -46.9%,
    #8c4b9d 25.76%,
    #4e3a77 118.6%
  );
  animation: moveGradient 5s linear infinite;
  
} */
/* @keyframes moveGradient {
  0% {
    border-image-source: linear-gradient(45deg, #f06, #4a90e2);
  }
  50% {
    border-image-source: linear-gradient(135deg, #4a90e2, #f06);
  }
  100% {
    border-image-source: linear-gradient(45deg, #f06, #4a90e2);
  }
} */
.fade {
  opacity: 0;
  transform: translateY(20px); /* Start slightly below its final position */
  transition: opacity 0.4s ease-in-out, transform 1s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0); /* Move to its final position */
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none; /* Allows elements below to receive mouse events */
}

.arrow-icon {
  position: relative;
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  color: #ffffff; /* Arrow icon color */
  font-size: 24px; /* Adjust icon size as needed */
  z-index: 9999; /* Ensure it's above the circle */
}

.circle {
  position: fixed;
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
  border-radius: 50%; /* Circle shape */
  z-index: 9998; /* Behind the arrow */
  pointer-events: none; /* Allows elements below to receive mouse events */
  transform: translate(-50%, -50%); /* Center the circle on the cursor */
}
.overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    98.57deg,
    #894a9b -46.9%,
    #8c4b9d 25.76%,
    #4e3a77 118.6%,
    0.7
  );
}
.whatsapp-icon {
  animation: fade 3s infinite ease-in-out;
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
}
