@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* @import url(assets/tan-pearl.otf); */
@font-face {
  font-family: "tan-pearl";
  src: url("assets/BodoniMT.ttf") format("TrueType");
  /* Additional font properties like font-weight and font-style can be specified here */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "tan-pearl";
  /* font-weight: 800; */
}
p {
  font-family: "Open Sans";
  color: #5d5d5d;
}
ol li {
  font-family: "Open Sans";
  color: #5d5d5d;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;

  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  right: 2.5rem;
  top: 3rem;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 275px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .menu__btn {
    position: fixed;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    right: 3rem;
    top: 4rem !important;
  }
}
